body {
    background-color:beige;
}
h1 {
    color:blue;
    text-align: center;
}
h2 {
    color: aqua;
    font-style: italic;
    text-align: center;
}
p {
    font-family:sans-serif;
    text-align:inherit;
}
ul {
    line-height: 40px;
}
ol {
    line-height: 40px;
}
.intro {
    font-style: italic;
}
.sidebar {
    width: 30%;
    float: right;
    background-color: yellow;
}
.column {
    width: 350px;
    float: left;
}
img {
    float: left;
}